nav {
    display: flex;
    justify-content: end;
    background-color: #000;
    padding: 1rem 2rem;
    width: 100%;
    gap: 0.2rem;
}

nav a {
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}

.bar {
    padding-right: 910px;   
}
